REPO_URL="git@github.com:/centaurus.git"
BRANCH="main"

OUTPUT_DIR="./build-output"

PULL_BASE_IMAGES="true"
DOCKER_NO_CACHE="false"
ADD_COMMIT_TAG="true"
PRUNE_DANGLING_IMAGES="false"

SERVER_ENABLED="true"
SERVER_PROJECT_DIR="server"
SERVER_JAVA_HOME="/opt/java/jdk-21"
SERVER_GRADLE_TASKS="clean build"
SERVER_IMAGE_NAME="centaurus-server"
SERVER_IMAGE_TAG="latest"
SERVER_DOCKERFILE_BASE_DIR="repo"
SERVER_DOCKERFILE_PATH="Dockerfile"
SERVER_DOCKER_JAR_NAME="app.jar"

WEBUI_ENABLED="true"
WEBUI_PROJECT_DIR="webui"
WEBUI_DOCKERFILE_PATH="Dockerfile"
WEBUI_IMAGE_NAME="centaurus-webui"
WEBUI_IMAGE_TAG="latest"
WEBUI_DOCKER_BUILD_ARGS=""

COMPOSE_ENABLED="true"
COMPOSE_PROJECT_DIR="/var/docker/compose/centaurus/server"
COMPOSE_FILE="docker-compose.yml"
COMPOSE_ENV_FILE=".env"
COMPOSE_DEPENDENCY_SERVICES="postgres"
COMPOSE_RECREATE_SERVICES="server webui"
COMPOSE_WAIT_TIMEOUT_SECONDS="120"
