REPO_URL="git@example.com:your-org/centaurus.git"
BRANCH="main"

OUTPUT_DIR="./build-output"

PULL_BASE_IMAGES="true"
DOCKER_NO_CACHE="false"
ADD_COMMIT_TAG="true"
PRUNE_DANGLING_IMAGES="false"

SERVER_ENABLED="true"
SERVER_PROJECT_DIR="server"
SERVER_DOCKERFILE_PATH="deploy/Dockerfile"
SERVER_DOCKER_BUILD_ARGS=""
SERVER_GRADLE_TASKS="clean build"
SERVER_IMAGE_NAME="centaurus-server"
SERVER_IMAGE_TAG="latest"

WEBUI_ENABLED="true"
WEBUI_PROJECT_DIR="webui"
WEBUI_DOCKERFILE_PATH="deploy/Dockerfile"
WEBUI_DOCKER_BUILD_ARGS=""
WEBUI_IMAGE_NAME="centaurus-webui"
WEBUI_IMAGE_TAG="latest"

COMPOSE_ENABLED="true"
COMPOSE_PROJECT_DIR="./compose"
COMPOSE_FILE="docker-compose.yml"
COMPOSE_ENV_FILE=".env"
COMPOSE_DEPENDENCY_SERVICES="postgres"
COMPOSE_RECREATE_SERVICES="server webui"
COMPOSE_WAIT_TIMEOUT_SECONDS="120"
