CENTAURUS_AGENT_UI_BIND_ADDRESS=127.0.0.1
CENTAURUS_AGENT_UI_PORT=8787
CENTAURUS_AGENT_UI_REMOTE_ACCESS_ENABLED=false
CENTAURUS_AGENT_CONFIG_PATH=./agent/agent-data/config.yml
CENTAURUS_AGENT_LOG_PATH=./logs/centaurus-agent.log
CENTAURUS_AGENT_VERSION=2.0.0
CENTAURUS_AGENT_AUTO_CONNECT=true
CENTAURUS_AGENT_RECONNECT_DELAY_SECONDS=10
JAVA_HOME=/usr/lib/jvm/temurin-21-jre
# JAVA_BIN=/opt/jdk-21/bin/java
JAVA_OPTS="-Xms128m -Xmx256m"
